.container {
    margin-bottom: 100px;
}
.bg-color{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #D31E67;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to bottom, #e4a104 0%, #eeb020);
}
.cat2{
    background-image: linear-gradient(to bottom, #e61263 0%, #C6004B);
}
.cat3{
    background-image: linear-gradient(to bottom, #1b3ff7 0%, #0f2dbe);
}